@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --bg:  hsla(206, 100%, 3%, 1); */
/*     --bg2: hsla(244, 100%, 1%, 1); */
/*     --fg:  hsla(360, 0%, 91%, 1); */
/*     --ac:  hsla(206, 100%, 27%, 1); */
/*   } */
/* } */

:root {
  --bg-d:  hsla(206, 100%, 3%, 1);
  --bg2-d: hsla(244, 100%, 1%, 1);
  --fg-d:  hsla(360, 0%, 91%, 1);
  --ac-d:  hsla(206, 100%, 27%, 1);
  --ac2-d: hsla(206, 100%, 16%, 1);

  --bg:   hsla(48, 56%, 90%, 1);
  --bg2:  hsla(48, 56%, 95%, 1);
  --fg:   hsla(48, 0%, 9%, 1);
  --ac:   hsla(206, 100%, 2%, 1);
  --ac2:  hsla(206, 100%, 2%, 1);
}


.dark {
  background: var(--bg-d);
  color: var(--fg-d);
}
.light {
  background:  var(--bg);
  color:  var(--fg);
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: all 0.5s;
}

.hero-cnt {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
}

.hero-cnt-ver {
  display: grid;
}
.hero-cnt-ver:nth-child(0) {
  grid-row: span 2;
}

.hero-bento-el {
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);

  padding: 1rem;
}
.dark .hero-bento-el {
  /* border: 1px solid var(--ac-d); */
  /* box-shadow: 0 0 0.4rem var(--ac-d); */
  /* -webkit-box-shadow: 0 0 0.4rem var(--ac-d); */

  border-radius: 10px;
  /* background: linear-gradient(145deg, #272134, #201c2c); */
  background: linear-gradient(145deg, var(--bg-d), var(--bg2-d));
  box-shadow:  0.4rem 0.4rem 5rem #231e2f,
             -0.4rem -0.4rem 5rem #372f4b;
}
.light .hero-bento-el {
  border-radius: none;
  border: 1px solid var(--ac);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--ac);
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem var(--ac);
}