@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

:root {
    font-family: "Roboto Mono", monospace;

    color: #fffffa;
    background-color: #272a33;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    transition: 1s;

    background: #10209b;
    background: radial-gradient(at center, #2c16a8, #232b45, #0e0f12);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: #10209b;
    background: radial-gradient(at center, #1627a8, #232b45, #0e0f12);

    background-attachment: fixed;

    animation: gradient-animation 18s cubic-bezier(0.57, 0.09, 0.08, 0.94) infinite;

    z-index: -1;
    overflow: hidden;
}
.cnt-bg-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;


    animation: gradient-animation 18s cubic-bezier(0.57, 0.09, 0.08, 0.94) infinite;

    z-index: -1;
    overflow: hidden;
}

.hero-content {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: 1;

    padding: 1.5rem;
}

.content {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: 1;

    padding: 1.5rem;
}

#cnt-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: #10209b;
    background: radial-gradient(at center, #1627a8, #232b45, #0e0f12);

    background-attachment: fixed;

    animation: gradient-animation 18s cubic-bezier(0.57, 0.09, 0.08, 0.94) infinite;

    z-index: -1;
    overflow: hidden;
}