@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffef;
  /* background-color: #f9f9d2; */
  color: #242424;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  #favicon {
    filter: invert(100);
  }
}

.nav-el {
  font-weight: 600;

  padding: 0rem 1.15rem;
}

.hero h1 {
  font-family: 'Playfair Display', serif;

  font-weight: 300;
  letter-spacing: 0.5rem;
  line-height: 8rem;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    line-height: 5.5rem;
  }

}

.hero p {
  letter-spacing: 0.55rem;
}

::-webkit-scrollbar {
  display: none;
}